* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    text-align: center;
  }
  
  .puzzle-figure {
    display: flex;
    flex-direction: column;
  }
  
  .puzzle {
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
  }
  
  .tile {
    align-items: center;
    background: #ffffff;
    border: 4px solid;
    border-color: #cccccc #787878;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    width: 33%;
  }
  
  