.keen-slider {
    height: 100%;

    [class^="number-slide"],
    [class*="number-slide"] {
        align-items: center;
        background: grey;
        color: #fff;
        display: flex;
        font-size: 50px;
        font-weight: 500;
        height: 300px;
        justify-content: center;
        max-height: 100vh;
    }

    .number-slide1 {
        color: red;
    }


    .mainPage {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
    
        .upperPart {
            align-items: center;
            height: 50%;
            justify-content: center;
            width: 100%;
            
            .number {
                border-radius: 20px;
                color: #fff;
                font-weight: 500;
                height: 30%;
                margin-left: 48%;
                margin-top: 2%;
                width: 4%;
              }
    
            .title {
                color: #000;
                font-size: 30px;
                font-weight: 700;
              }
    
            .description {
                color: #aaa;
                font-size: 16px;
                margin-top: 1%;
              }
        }
    
        .lowerPart {
            align-items: center;
            justify-content: center;
            height: 50%;
            width: 100%;
        }
    }
}
